.section.menu{
    padding: 3rem 8rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.section.menu .food-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.food-section .food-title{
    width: 100%;
    padding: 1rem;
    border-bottom: 2px solid var(--primary-black-color);
}

.food-section .food-title .food-name{
    font-size: 2rem;
    width: 100%;
    text-align: center;
}

.food-section .food-cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 3rem 1rem;
}


.food-cards .dish{
    width: 300px;
    padding: 2rem 1.5rem;
    padding-bottom: 7rem;
    border-radius: 10px;
    border: 2px solid var(--primary-black-color);
    box-shadow: 7px 6px rgba(0,0,0,0.2);
    position: relative;
    transition: var(--transition);
}

.dish .dish-name{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.dish .food-des{
    font-size: 1.1rem;
    font-weight: 400;
}

.dish .food-price{
    position: absolute;
    bottom: 1.5rem;
    right: 1.5rem;
    font-size: 2rem;
    font-weight: 700;
}